appdirs==1.4.4; python_full_version >= "3.6.2"
black==21.6b0; python_full_version >= "3.6.2"
cfgv==3.3.0; python_full_version >= "3.6.1"
click==8.0.1; python_version >= "3.6" and python_full_version >= "3.6.2"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.5.0"
distlib==0.3.2; python_full_version >= "3.6.1"
filelock==3.0.12; python_full_version >= "3.6.1"
identify==2.2.10; python_full_version >= "3.6.1"
joblib==1.0.1; python_version >= "3.6"
mypy-extensions==0.4.3; python_full_version >= "3.6.2"
nltk==3.6.2; python_version >= "3.5"
nodeenv==1.6.0; python_full_version >= "3.6.1"
pathspec==0.8.1; python_full_version >= "3.6.2"
pre-commit==2.13.0; python_full_version >= "3.6.1"
pyyaml==5.4.1; python_full_version >= "3.6.1"
regex==2021.7.6; python_version >= "3.5" and python_full_version >= "3.6.2"
six==1.16.0; python_full_version >= "3.6.1"
toml==0.10.2; python_full_version >= "3.6.2"
tqdm==4.61.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
virtualenv==20.4.7; python_full_version >= "3.6.1"
